<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= "#{@club.errors.count}個のエラーが有ります。" %>
      </div>
      <ul>
        <% @club.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, maxlength: '50', class: 'input', placeholder: 'Text input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :description, class: 'label' %>
    <div class="control">
      <%= f.text_area :description, maxlength: '500', class: 'textarea', placeholder: 'Textarea' %>
    </div>
  </div>
  <div class="field is-grouped is-justify-content-center">
    <div class="control">
      <%= f.submit '保存する', class: 'button is-primary' %>
    </div>
    <div class="control">
      <%= link_to'戻る', :back, class: 'button is-primary is-light' %>
    </div>
  </div>
<% end %>
