<div data-controller="club" class="container is-max-desktop">
  <div class="card">
    <div class="card-content">
      <div class="media is-align-items-center">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <h1 class="title is-3"><%= @club.name %></h1>
          <% if current_user.owner?(@club) %>
            <div class="columns">
              <div class="column">
                <%= button_to 'クラブ情報を編集する', edit_club_path(@club), method: :get, class: 'button is-small is-primary has-text-weight-bold' %>
              </div>
              <div class="column">
                <a data-action="club#toggleInvitaionUrlModal">メンバー招待用URLを発行する</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr />
      <div class="block">
        <h2 class="title is-5">クラブについて</h2>
        <p><%= @club.description %></p>
      </div>
      <div class="block">
        <h2 class="title is-5"><%= "メンバー（#{ @members.size }人）" %></h2>
        <div class="columns is-multiline m-0">
          <% @members.each do |member| %>
            <div id="is-4" class="column box m-1">
              <%= link_to(member) do %>
                <div class="media is-align-items-center">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <%= image_tag member.profile_icon_url, class: 'is-rounded' %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <!-- TODO 繪文字をアイコンに差し替える -->
                    <% if member.owner?(@club) %><small class="has-text-dark">👑</small><% end %>
                    <p class="has-text-dark"><%= member.nickname %></p>
                    <!-- TODO クラブを管理する画面を作成して、そこでメンバーを削除するようにする
                      <% if current_user.owner?(@club) %>
                        <%= button_to '', resign_member_club_path(@club, user_id: member.id), method: :delete, class: 'delete is-small', form_class: 'delete is-small' %>
                      <% end %>
                    -->
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div data-controller="talkroom" class="block">
        <h2 class="title is-5">トークルーム</h2>
        <canvas id="canvas"></canvas>
        <div class="">
          <button data-action="talkroom#makeCall" class="button is-primary">電話を掛ける</button>
          <input data-talkroom-target="roomId" type="text" class="input" />
          <button data-action="talkroom#endCall" class="button">電話を切る</button>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'invitations/invitaion_url_modal' %>
</div>
