<!DOCTYPE html>
<html>
  <head>
    <title>GameStation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <%= link_to "#{current_user.name}さん", current_user %>
        <%= link_to 'クラブを作成する', new_club_path %>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
      <% else  %>
        ゲストさん
        <p><%= link_to 'Twitterでログイン', '/auth/twitter', method: :post %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
